@gojob:registry=https://gitlab.com/api/v4/packages/npm/

; Add the token for the scoped packages URL. This will allow you to download
//gitlab.com/api/v4/packages/npm/:_authToken=${GOJOB_NPM_REGISTRY_TOKEN}

//gitlab.com/api/v4/projects/:_authToken=${GOJOB_NPM_REGISTRY_TOKEN}

//gitlab.com/api/v4/packages/npm/@gojob%2fui-bits:_authToken=${GOJOB_NPM_REGISTRY_TOKEN}
